{% load static %}
{% if articles %}
    {% for article in articles %}
        <article class="col-6 col-12-xsmall work-item">
            <a href="{% if not article.link %}{% url 'blogs:article_detail' article.slug %}{% else %}{{ article.link }}{% endif %}" class="image fit thumb">
                <div class="image-container">
                    {% if article.image %}
                        <div class="overlay-card"></div>
                        <img class="hbb" src="{{ article.image.url }}" alt="{{ article.headline }}"/>
                    {% else %}
                        <img class="hbb" src="{% static 'images/thumbs/02.jpg' %}" alt=""/>
                    {% endif %}
                </div>
            </a>

            <a href="{% url url_link article.slug %}" class="text-secondary">
                <h3>{{ article.headline }}</h3>
                <p>{{ article.content|striptags|safe|slice:":150" }}{% if article.content|length > 150 %}
                    ...{% endif %}</p>
            </a>
        </article>
    {% endfor %}
{% else %}
    <p>Nenhuma postagem encontrada.</p>
{% endif %}
