{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>{{ article.headline }}</title>
{% endblock %}

{% block content %}
    <!-- One -->
    {% if article %}
        <section id="one">
            <header class="major">
                {% if article.image %}
                    <img src="{{ article.image.url }}" alt="{{ article.image.alt }}" class="image_principal mb-2"/>
                {% endif %}
                {% if breadcrumbs %}
                    {% include "dynamic_breadcrumbs/breadcrumbs.html" with breadcrumbs=breadcrumbs %}
                {% endif %}
                <h1 class="mb-0">{{ article.headline }}</h1>
                {% if article.created_at|date:"d/m/Y H:i" != article.updated_at|date:"d/m/Y H:i" %}
                    <span class="meta d-block mb-2">Atualizado - {{ article.updated_at|date:"d/m/Y  H:i" }}</span>
                {% else %}
                    <span class="meta d-block mb-2">Publicado - {{ article.created_at|date:"d/m/Y  H:i" }}</span>
                {% endif %}
                <ul class="icons m-0">
                    {% if article.link %}
                        <li><a href="{{ article.link }}" target="_blank"><i class="bi bi-link-45deg h5"></i> <span class="">{{ article.link }}</span></a>
                        </li>
                    {% endif %}
                </ul>

            </header>
            <span class="ck ck-content ck-content-blog">
                {{ article.content|safe }}
            </span>

        </section>
    {% endif %}
{% endblock %}
