{% extends 'base.html' %}

{% block head %}
    <title>Trabalhos</title>
    <meta name="keywords" content="portfolio, matheus macias, desenvolvedor, back-end,front-end, devops, django, boostrap5, python, html, css, javascript, jquery, git, github, bitbucket, docker, linux"/>
    <meta name="description" content="Trabalhos realizados por Matheus Macias, desenvolvedor web."/>
    <meta property="og:title" content="Trabalhos"/>
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta property="og:description" content="Trabalhos realizados por Matheus Macias, desenvolvedor de sistemas."/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:site_name" content="{{ owner.first_name }} {{ owner.last_name }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ owner.avatar.url }}"/>
    <meta property="og:image:type" content="image/jpg"/>
    <meta property="og:image:width" content="460"/>
    <meta property="og:image:height" content="460"/>

    <meta name="twitter:title" content="Trabalhos"/>
    <meta name="twitter:description" content="Trabalhos realizados por Matheus Macias, desenvolvedor de sistemas."/>
    <meta name="twitter:image" content="{{ owner.avatar.url }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@{{ owner.username }}"/>
    <meta name="twitter:creator" content="@{{ owner.username }}"/>
    <meta name="twitter:image:alt" content="{{ owner.first_name }} {{ owner.last_name }}"/>
    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
{% endblock %}

{% block content %}
    <section id="two">
        {% if breadcrumbs %}
            {% include "dynamic_breadcrumbs/breadcrumbs.html" with breadcrumbs=breadcrumbs %}
        {% endif %}
        <h1 class="h3 mb-4">Trabalhos</h1>
        <div class="row">
            {% include 'components/card.html' with url_link='main:article_work_detail' %}
        </div>
    </section>
{% endblock %}