{% extends 'base.html' %}

{% block head %}
<title>Erro 403 - Proibido</title>
{% endblock head %}

{% block content %}
<div class="container error-container">
    <div class="row align-items-center justify-content-center" style="min-height: 45vh;">
        <div class="col-12 text-center d-flex flex-column align-items-center">
            <i class="bi bi-exclamation-triangle-fill fs-1"></i>
            <h1 class="display-1 mb-3">Erro 403</h1>
            <p class="fs-5">O que você está tentando fazer é proibido.</p>
            {% include 'components/button.html' with button_url='main:index' button_text='Voltar para o início' %}
        </div>
    </div>
</div>
{% endblock content %}