{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Matheus Macias</title>
{% endblock %}
{% block content %}
    <!-- One -->
    {% if article %}
        <section id="one">
            <header class="major">
                <h2>{{ article.headline }}</h2>
            </header>
            <p class="text-justify">
                {{ article.content|striptags|safe|slice:":350" }}{% if article.content|length > 150 %}...{% endif %}
            </p>

            {% include 'components/button.html' with button_url='blogs:article_detail' param=article.slug button_text='Mais informações' %}


        </section>
    {% endif %}

    {% if experiences %}
        <div class="timeline">
            {% for experience in experiences %}
                <div class="entry ">
                    <div class="title">
                        <h3>{{ experience.start_date|date:"Y" }}</h3>
                        <p>{{ experience.company }}</p>
                    </div>
                    <div class="body">
                        <p>{{ experience.position }}</p>
                        <ul>
                            <li>{{ experience.description }}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Two -->
    <section id="two">
        <h2>Últimos posts</h2>
        <div class="row">
            {% include 'components/card.html' with articles=articles %}
        </div>
    </section>

    {% if article_freelance %}
        <section id="two">
            <h2>Trabalhos Freelance</h2>
            <div class="row">
                {% include 'components/card.html' with articles=article_freelance %}
            </div>
        </section>
    {% endif %}

    {% if article_academic %}
        <section id="two">
            <h2>Trabalhos Acadêmicos</h2>
            <div class="row">
                {% include 'components/card.html' with articles=article_academic %}
            </div>
        </section>
    {% endif %}

    {% include 'components/button.html' with button_url='blogs:article_list' button_text='Visualizar todas as publicações' %}
{% endblock %}

{% block user %}
    <h1 class="d-none">Matheus Macias</h1>
{% endblock %}
