{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Matheus Macias</title>
    <meta name="keywords" content="portfolio, matheus macias, desenvolvedor, back-end,front-end, devops, django, boostrap5, python, html, css, javascript, jquery, git, github, bitbucket, docker, linux"/>
    <meta name="description" content="{{ article.content|striptags|safe|slice:":350" }}{% if article.content|length > 150 %}...{% endif %}"/>
    <meta property="og:title" content="{{ owner.first_name }} {{ owner.last_name }}"/>
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta property="og:description" content="{{ article.content|striptags|safe|slice:":350" }}{% if article.content|length > 150 %}...{% endif %}"/>
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}"/>
    <meta property="og:site_name" content="{{ owner.first_name }} {{ owner.last_name }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ owner.avatar.url }}"/>
    <meta property="og:image:type" content="image/jpg"/>
    <meta property="og:image:width" content="460"/>
    <meta property="og:image:height" content="460"/>

    <meta name="twitter:title" content="{{ owner.first_name }} {{ owner.last_name }}"/>
    <meta name="twitter:description" content="{{ article.content|striptags|safe|slice:":350" }}{% if article.content|length > 150 %}...{% endif %}"/>
    <meta name="twitter:image" content="{{ owner.avatar.url }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@matheusmacias"/>
    <meta name="twitter:creator" content="@matheusmacias"/>
    <meta name="twitter:image:alt" content="{{ owner.first_name }} {{ owner.last_name }}"/>
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}"/>
{% endblock %}
{% block content %}
    <!-- One -->
    {% if article %}
        <section id="one">
            <header class="major">
                <h2>{{ article.headline }}</h2>
            </header>
            <p class="text-justify">
                {{ article.content|striptags|safe|slice:":350" }}{% if article.content|length > 150 %}...{% endif %}
            </p>

            {% include 'components/button.html' with button_url='blogs:article_detail' param=article.slug button_text='Mais informações' %}


        </section>
    {% endif %}

    {% if owner.experiences %}
        <div class="timeline">
            {% for experience in owner.experiences.all|dictsortreversed:"start_date" %}
                <div class="entry ">
                    <div class="title">
                        <h3>{{ experience.start_date|date:"Y" }}</h3>
                        <p>{{ experience.company }}</p>
                    </div>
                    <div class="body">
                        <p>{{ experience.position }}</p>
                        <div class="content-timeline">{{ experience.description|safe }}</div>
                        {% if experience.technologies.all %}
                            <div class="technologies d-flex flex-column align-items-center align-items-lg-end small">
                                <ul class="d-flex m-0 list-unstyled flex-wrap justify-content-center">
                                    {% for technology in experience.technologies.all %}
                                        <li>
                                            <a href="{{ technology.link }}" target="_blank">{{ technology.name }}</a>

                                        </li>

                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if article_jobs %}
        <section id="trabalhos">
            <h2>Trabalhos realizados <a href="{% url 'main:article_work_list' %}" class="fs-6 ms-2">Visualizar todos<i
                    class="bi bi-chevron-right text-decoration-none"></i></a></h2>

            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">

                    {% for article_list in article_jobs %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}"
                             {% if forloop.first %}data-bs-interval="10000"{% else %}data-bs-interval="5000"{% endif %}>
                            <div class="row">
                                {% include 'components/card_carousel.html' with articles=article_list %}
                            </div>
                        </div>
                    {% endfor %}


                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
    {% endif %}

    {% if article_academic %}
        <section>
            <h2>Trabalhos Acadêmicos</h2>
            <div class="row">
                {% include 'components/card.html' with articles=article_academic %}
            </div>
        </section>
    {% endif %}

    <section>
        <h2>Últimos posts</h2>
        <div class="row">
            {% include 'components/card.html' with articles=articles %}
        </div>
    </section>

    {% include 'components/button.html' with button_url='blogs:article_list' button_text='Visualizar todas as publicações' %}
{% endblock %}

{% block user %}
    <h1 class="d-none">Matheus Macias</h1>
{% endblock %}
